.row
  .col-sm-5.text-center
    =image_tag "paysage28.jpg", class: 'img-responsive', alt: "Groupe de cyclistes faisant halte dans le Perche"
  .col-sm-7
    %h2 Point de vue sur le Perche : campagne-photo

    %p Venez déposer vos photos et contribuez à l’élaboration du projet d’aménagement du territoire percheron pour les 20 prochaines années*.

    %p A travers vos clichés, nous attendons les éléments du territoire qui, selon vous, sont à conserver, valoriser et/ ou développer (J’aime) et les éléments à repenser, les échecs (J’aime pas) selon votre vécu et vos impressions.

    %p Il n’y a pas de limitation du nombre de photos. Le lieu de prise de vue doit être précisé et de courts commentaires peuvent être ajoutés.

    %p Une fois validées par le Pôle territorial, vos photos seront publiées et pourront être « Approuvées » par les autres utilisateurs. Certains clichés pourront également être valorisés dans différentes communications.

    %p Il convient de préciser que « Point de vue sur le Perche » se doit de respecter la vie privée, le droit à l’image et la propriété privée. Les clichés que nous jugerons hors-sujet à la démarche de la campagne-photo ne seront pas publiés.

    %br
    %p.asterix *Le schéma de cohérence territorial (SCOT) est un document de planification stratégique qui fixe les orientations d’aménagement du Perche d’Eure-et-Loir pour les 20 prochaines années.

    %br
    %h3.titre Je partage une photo
    .row
      .col-md-offset-1.col-md-5
        = link_to "Que j'aime", new_point_de_vue_path(positif: true), class: 'btn btn-success btn-lg btn-aime'
      .col-md-5
        = link_to "Que je n'aime pas", new_point_de_vue_path(positif: false), class: 'btn btn-primary btn-lg btn-aime-pas'
%h3 Actuellement #{@point_de_vues.size} point(s) de vue déposé(s)
%p Dites nous si vous approuvez les points de vue déposés et partagez !

.liste-point-de-vues
  = render partial: 'point_de_vues/point_de_vue', collection: @point_de_vues

