- provide(:title, sanitize("Vos projets numériques innovants"))
- provide(:description, sanitize("Vous avez envie que le territoire change? vous avez des projets numériques? faites nous part de vos idées pour peut-être demain les financer avec LEADER"))
%br
.row
  .col-sm-7
    %h2 J’exprime mon point de vue sur le Perche!
    %p Vous voulez exprimer votre avis ou une opinion sur des projets qui concernent le Perche (son développement, sa préservation...) ?

    %p Deux outils sont à votre disposition :

    %p - la campagne photo Point de vue sur le Perche

    %p - la boîte à idées SCOT BOX / SCOT VOX
  .col-sm-5.text-center
    =image_tag "page-projet.jpg", class: 'img-responsive', alt: "Groupe de cyclistes faisant halte dans le Perche"
  
  
%a{href: point_de_vues_path, class: 'btn violet btn-lg'}
  %span.icon
    %svg.icon-camera2{:role => "img"}
      %use{"xlink:href" => "#{image_url("icons.svg")}\#icon-camera2"}
    %span.action
      %br je dépose une photo

%a{href: point_de_vues_path, class: 'btn violet btn-lg'}
  %span.icon
    %svg.icon-pencil{:role => "img"}
      %use{"xlink:href" => "#{image_url("icons.svg")}\#icon-pencil"}
    %span.action
      %br je depose une photo
