.mentions
  - provide(:title, "Mentions légales")
  %br
  %h1= yield :title

  %br
  .titre-mentions
    %h3 Information Editeur :

  %br
  %h4 Dénomination sociale :
  %p Pôle territorial du Perche

  %h4 Siège social :
  %p 1 bis rue Doullay 28400 Nogent le Rotrou

  %h4 Numéro de téléphone :
  %p 02 37 29 09 29

  %h4 Directeur de la publication :
  %p Jean-Pierre Jallot, Président du Pôle territorial du Perche

  .titre-mentions
    %h3 Information Concepteur & Hébergeur :

  %br
  %h4 Dénomination sociale :
  %p Innoveduc, Organisme de formation enregistré auprès du Préfet de la région Centre le 23 juin 2014 sous le n° 24 28 0154228 – SAS au capital de 7 000 euros – 794 926 063 00015 RCS Chartres

  %h4 Siège social :
  %p 18 rue de La Gare 28240 La Loupe
  %h4 Numéro de téléphone :
  %p 09 72 52 63 94

  .titre-mentions
    %h3 Garanties et responsabilité

  %br
  %p Le Pôle territorial du Perche s’efforce d’assurer au mieux que les informations accessibles par l’intermédiaire du site sont exactes et mises à jour. Cependant, le Pôle territorial du Perche ne garantit en aucune manière que ces informations soient exactes, complètes et à jour.

  .titre-mentions
    %h3 Crédits photos

  %br
  %p David Commenchal
  Parc naturel régional du Perche
  Pays du Perche ornais
  Pays du Perche d’Eure et Loir
  Communautés de Communes
  Pôle territorial du Perche

  .titre-mentions
    %h3 Liens vers d’autres sites Internet

  %br
  %p Ce site contient un certain nombre de liens vers d’autres sites Internet. Le Pôle territorial du Perche ne peut être tenu pour responsable du contenu de ces sites Internet extérieurs.

  .titre-mentions
    %h3 Droits d’accès, de rectification et de suppression des données personnelles

  %br
  %p Conformément à la Loi Informatique et Libertés du 6 janvier 1978, vous disposez à tout moment d’un droit d’accès, de rectification et de suppression des données personnelles vous concernant. Si vous souhaitez exercer ce droit, il vous suffit de contacter le Pôle territorial du Perche ornais.

  .titre-mentions
    %h3 Reproduction ou représentation

  %br
  %p Le site est protégé par les lois régissant la propriété intellectuelle. Toute reproduction ou représentation, en tout ou partie, sans le consentement du Pôle territorial du Perche est interdite.