// Place all the styles related to the points_de_vue controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gras
{
  font-weight: bold;
  display: inline;
}

.asterix {
  font-size: 12px;
}
.titre{
  text-align: center;
}
.btn-aime{
  width: 100%;
  background-color: $vert-clair;
  border-color: $vert-clair;
    &:hover {
      background-color: darken($vert-clair, 10%);
      border-color: $vert-clair;
    }
}
.btn-aime-pas{
  width: 100%;
}
.violet
{
  background-color: $violet;
  heigth: 50%;
  fill: #FFF;
  width: 35%;
  margin-left: 10%;
  margin-top: 5%;
    .action {
      color: white;
    }
    .icon {
      color: white;
      fill: #FFF;
    }
    &:hover {
          color: $violet;
          background-color: lighten($violet, 10%);
          }
}

.liste-point-de-vues {
  @include make-row();
  margin-top: 2rem;
  width: 100%;
  .encart {
    a {
      border-color: $violet;
      display: block;
      text-decoration: none;
      &:hover {
        text-decoration: none;
        color: $gris-svg;
      }
    }
    .panel {
      display: block;
      .panel-heading {
        display: block;
        height: 50px;
        color: white;
        padding: 0px 0px 0px;
        svg {
          width: 20px;
          height: 20px;
          fill: #FFF;
          position: relative;
          top: 4px;
        }
        img {
          width: 25%;
        }
        em {
          font-size: 12px;
        }
      }
      .panel-body {
        margin-top: 15px;
        display: block;
        height: 250px;
        width: 100%;
        padding: 0;
        h4
        {
          display: none;
        }
        &:hover {
          h4 {
            display: block;
            height: 100px;
            text-align: left;
            margin-top: 0;
            padding: 0px;
            background-color: rgba(24, 24, 24, 0.71);
            color: #fff;
            text-overflow: hidden;
            overflow: visible;
            &:hover {
              text-decoration: none;
            }
          }
        }
        p {
          padding: 10px;
          color: #fff;
        }
      }
      .panel-footer {
        font-size: 24px;
        display: block;
        background-color: transparent;
        color: #fff;
        border: 0;
        padding: 0 15px;

        .japprouve_compteur{
          margin:-10% 0 0 35%;
          font-size: 30px;
        }
      }
    }
    .vignette_vert{
      background-color: $violet;
      border: 6px solid $vert-clair;
      &:hover {
        background-color: lighten($vert-clair, 5%);
      }
    }
    .vignette_rouge{
      background-color: $violet;
      border: 6px solid $rouge;
      &:hover {
        background-color: lighten($rouge, 5%);
      }
    }
  }
}

#point_de_vue_description {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 6.7em;
  resize: none;

}

.pointform {
  #point_de_vue_image{
    height: 40px;
    padding-bottom: 50px;
  }

  .droit{
    font-size: 14px;
    width: 97%;
    height: 20%;
    display: inline;

    input{
      display: flex;
      width: 3%;
      height: 20px;
      margin-left: -5%;
      margin-top: 3%;
      margin-bottom: -4%;
    }
  }
}
// ---- Start View Show ----- //
.point_de_vue_show
{
  
  .metadonnees-point-de-vue {
    @include make-sm-column(2);
    @include make-sm-column-offset(1);
    text-align: right;
    margin-top: 12px;
    padding: 5px;
    h4 {
      color: $violet;
    }
    .datecrea {
      padding-top: 3px;
    }
    .anim-only {
      text-align: left;
    }
    .barre-sociale {
      margin: 30px auto;
    }
  }

  .contenu-point-de-vue {
    @include make-sm-column(6);
    h1, h2, h3, h4 {
      color: $violet;
    }
    h2 {
      font-size: 1.5rem;
    }
    img {
      width: 100%;
    }
  }
}
// ---- End View Show ----- //

footer
{
  img
  {
    width: 80px;
  }
}