// Place all the styles related to the points_de_vue controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.violet
{
  background-color: $violet;
  heigth: 50%;
  fill: #FFF;
  width: 35%;
  margin-left: 10%;
  margin-top: 5%;
    .action {
      color: white;
    }
    .icon {
      color: white;
      fill: #FFF;
    }
    &:hover {
          color: $violet;
          background-color: lighten($violet, 10%);
          }
}

.liste-point-de-vues {
  @include make-row();
  margin-top: 2rem;

  .encart {
    a {
      border-color: $violet;
      display: block;
      text-decoration: none;
      color: $gris-svg;
      &:hover {
        text-decoration: none;
        color: $gris-svg;
      }
    }
    .panel {
      border-color: $violet;
      background-color: $violet;
      display: block;
      &:hover {
        background-color: lighten($violet, 10%);
      }
      .panel-heading {
        display: block;
        color: $gris-svg;
        padding: 10px 15px 0px;
        svg {
          width: 20px;
          height: 20px;
          fill: $gris-svg;
          position: relative;
          top: 4px;
        }
        img {
          width: 80%;
        }
        em {
          font-size: 12px;
        }
      }
      .panel-body {
        display: block;
        height: 212px;
        padding: 0;
        h2 {
          text-align: left;
          margin-top: 0;
          padding: 10px;
          background-color: rgba(24, 24, 24, 0.71);
          color: #fff;
          &:hover {
            text-decoration: none;
          }
        }
        p {
          padding: 10px;
          color: #fff;
        }
      }
      .panel-footer {
        display: block;
        background-color: transparent;
        border: 0;
        padding: 0 15px;
      }
    }
  }
}

#point_de_vue_description {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 6.7em;
  resize: none;

}

.pointform {
  .droit{
    font-size: 14px;
    width: 97%;
    height: 20%;
    display: inline;

    input{
      display: flex;
      width: 3%;
      height: 20px;
      margin-left: -5%;
      margin-top: 3%;
      margin-bottom: -4%;
    }
  }
}
// ---- Start View Show ----- //
.point_de_vue_show
{

  .metadonnees-point-de-vue {
    @include make-sm-column(2);
    @include make-sm-column-offset(0);
    text-align: right;
    margin-top: 12px;
    padding: 5px;
    h4 {
      color: $violet;
    }
    .datecrea {
      padding-top: 3px;
    }
    .anim-only {
      text-align: left;
    }
  }

  .contenu-point-de-vue {
    @include make-sm-column(5);
    h1, h2, h3, h4 {
      color: $violet;
    }
    h2 {
      font-size: 1.5rem;
    }
    img {
      width: 100%;
    }
  }

  .contenu-point-de-vue-bis {
    @include make-sm-column(5);
    h1, h2, h3, h4 {
      color: $violet;
    }
    h2 {
      font-size: 1.5rem;
    }
    img {
      width: 100%;
    }
  }

  .barre-sociale {
    @include make-sm-column(4);
    @include make-sm-column-offset(4);
    margin: 30px auto;
  }
}
// ---- End View Show ----- //
