// Place all the styles related to the questionnaires controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.questionnaires {

	.label {
		margin-right: 1em;
	}
	.panel{ border-color: $ocre; }
	.panel-heading{ background-color: $ocre;}
}



.show
{
	iframe
	{	
		width: 100%;
	}
}

